.lead {
    max-width: 984px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1080px) {
    .lead {
      max-width: 928px;
      margin: 0 48px 0 48px;
    }
  }
  @media screen and (max-width: 800px) {
    .lead {
      max-width: 768px;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .lead {
      max-width: 320px;
      margin: 0 2px 0 2px;
    }
  }
  