.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 555px) {
    .footer__copyright {
      line-height: 14px;
      margin-top: 0;
      margin-bottom: 24px;
      text-align: left;
    }
  }
  