.intro {
    margin: 92px 442px 92px 148px;
    max-width: 690px;
   }
  
  @media screen and (max-width: 1260px) {
    .intro {
      margin: 92px 286px 92px 48px;
    }
  }
  @media screen and (max-width: 1000px) {
    .intro {
      margin: 60px 24px 88px 24px;
      max-width: 720px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .intro {
      margin: 64px 16px 64px 16px;
      max-width: 288px;
    }
  }
  