.intro__title {
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    margin: 0 0 40px 0;
  }
  @media screen and (max-width: 1024px) {
    .intro__title {
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 770px) {
    .intro__title {
      margin: 88px 0 40px;
    }
  }
  @media screen and (max-width: 420px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
      margin: 0 0 40px;
    }
  }
  